<ul>
  <li>test 1</li>
  <li>test 2</li>
  <li>test 3</li>
</ul>

<script>

  'use strict';

  // objective: run the allDone function after all three setTimeout's have completed
  // rules:
  // 1. You cannot wrap the allDone in a setTimeout set to 4 seconds or something
  // 2. You cannot modify any of the timeout values in the setTimeout's
  // 3. You can modify some of the code surrounding and inside of the setTimeout's to manage the process of knowing when to run the allDone function

  function allDone() {
    console.log('all done');
  }

  let counter = 0;

  counter++;
  setTimeout(() => {
    console.log('a');
    counter--;
    if (counter === 0) {
      allDone();
    }
  }, 2000);

  counter++;
  setTimeout(() => {
    console.log('b');
    counter--;
    if (counter === 0) {
      allDone();
    }
  }, 2500);

  counter++;
  setTimeout(() => {
    console.log('c');
    counter--;
    if (counter === 0) {
      allDone();
    }
  }, 1000);

  // pyramid of doom
  // setTimeout(() => {
  //     console.log('a');
  //     setTimeout(() => {
  //         console.log('b');
  //         setTimeout(() => {
  //             console.log('c');
  //         }, 500);
  //     }, 1000);
  // }, 2000);




  // setTimeout(
  //   // this function will be a second task in the future when the browser invokes it after about 2 seconds
  //   () => {
  //     console.log('did it!');
  //   }, 2000)

  // console.log('made it here...');


</script>