<ul>
  <li>test 1</li>
  <li>test 2</li>
  <li>test 3</li>
</ul>

<script>

  'use strict';

  const parent = {
    name: 'Parent',
    amt: 2000,
    address: {
      city: 'Mountain View',
      country: 'CA',
    },
  };

  const child = Object.create(parent);
  child.name = 'Child';

  console.log(child.amt);
  console.log(child);

  parent.amt = 2010;

  console.log(child.amt);

  child.amt = 15;
  console.log(child.amt);
  console.log(child);
  console.log(parent.amt);

  delete child.amt;
  console.log(child.amt);
  console.log(child);

  // console.log(child.address.city);
  // child.address.city = 'San Francisco';

  child.address = {
    city: 'San Francisco',
  };

  console.log(child);

</script>