<ul>
  <li>test 1</li>
  <li>test 2</li>
  <li>test 3</li>
</ul>

<script>

  'use strict';

  const tim = new Promise(function sally(resolve, reject) {

    setTimeout(() => {
      console.log('she says no, my name is no, my number is no...');
      reject('she has fallen in love with his best friend...');
    }, 2000);

  });

  tim.then((results) => {
    console.log(results);
    console.log('yay she said yes!');
    return 'a';
  }).catch((results) => {
    console.log(results);
    console.log('no I need to sign up for eHarmony to find a more compatible match...');
    return 'b';
  }).finally((results) => {
    console.log(results);
    console.log('it all works out in the end...');
  });

  console.log('tim is waiting...');

</script>