<ul>
  <li>test 1</li>
  <li>test 2</li>
  <li>test 3</li>
</ul>

<script>

  'use strict';

  const nums = {
    0: 100,
    1: 200,
    '2': 300,
    length: 3,
  };

  console.log(Array.from(nums));

  // console.log(nums);

  // console.log(nums[1]);
  // console.log(nums['1']);

  const nums2 = [ 100, 200, 300 ];
  // console.log(nums2);


  function doIt() {
    console.dir(arguments);
    console.log(Array.isArray(arguments));
    console.log(Array.from(arguments));
  }

  doIt(1,2,3,4);

  console.log(Array.isArray(nums));

  console.log(Array.isArray(nums2));

  console.log(Array.isArray(document.querySelectorAll('li')));

  console.log(Array.from(document.querySelectorAll('li')));

</script>